<section class="table-container">
    <table>
        <thead>
          <tr class="row">
            <th *ngFor="let col of cols">
              {{ col.header }}
              <app-badge 
                *ngIf="col.help"
                size="small" 
                value="¡" 
                [tooltip]="col.help" 
                [tooltipText]="col.description!"></app-badge>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemsToShow; let i = index" class="row">
            <td *ngFor="let col of cols">
              <div *ngIf="col.type === 'img'" class="table-image">
                <img  [src]="item[col.field]" [alt]="item.name" (error)="defaultImg($event, i, col.field)">
              </div>
              <span *ngIf="col.type === 'text'">
                {{ item[col.field] }}
              </span>
              <!-- <div *ngIf="isImageUrl(item[col.field])" class="table-image">
                <img  [src]="item[col.field]" [alt]="item.name">
              </div>
              <span *ngIf="!isImageUrl(item[col.field] )">
                {{ item[col.field] }}
              </span> -->
              
            </td>
          </tr>
        </tbody>
    </table>

    <div class="pagination">
      <p class="pagination__total">{{items.length}} resultados totales</p>
      <select *ngIf="shownItemsAmount.length > 0"
        name="itemsToList" id="itemsToList" class="pagination__amount"
        [formControl]="amountItemsInput">
        <option 
          *ngFor="let n of shownItemsAmount" 
          [value]="n">
          {{ n }}
        </option>
      </select>
    </div>
</section>