<h2 class="title roboto-bold">
    Productos
</h2>

<section class="product-actions">
    <div class="field">
        <label for="search" class="label roboto-medium">
            Buscar producto
        </label>
        <input appInput id="search" [formControl]="searchProductInput" placeholder="Ingrese nombre" autocomplete="off">
    </div>

    <app-button
        size="normal" 
        type="primary"
        label="Agregar"
        [routerLink]="['.', 'new']"
    ></app-button>
</section>

<app-spinner 
    *ngIf="loading; else table"
    message="Cargando productos...">
</app-spinner>

<ng-template #table>
    <section class="products-list">
        <app-table
            *ngIf="data.length > 0"
            [items]="data"
            [cols]="cols"
            filterField="name"
            [searchValue]="searchProductValue"
            [shownItemsAmount]="[5,10,20]"
        ></app-table>

        <h3 *ngIf="data.length === 0"
            class="products-list__empty roboto-medium">
            No hay productos para mostrar
        </h3>
    </section>
</ng-template>

