@import 'src/assets/styles/variables.scss';

.spinner-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .loader {
        border: 8px solid $bp-gray-1;
        border-top: 6px solid $bp-yellow;
        border-radius: 50%;
        width: 42px;
        height: 42px;
        animation: spin 1s linear infinite;

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    }

    .message {
        margin-top: 2rem;
        font-size: 1.5rem;
    }
}
